.contactoPage{
    padding:10px min(5vw, 50px);
    padding-bottom:100px;
    color:var(--dark-color);
    
}

.map{
    position: relative;
    width: 100%;
    height: min(60vw, 700px);
    border:none;
}