.containerPageDondeEstamos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f2f2f2;
    padding-top:20px;
    padding-bottom:100px;
    flex-direction: column;
    flex-wrap: nopwrap;
    
}
.containerMap{
display: block;
}