.containerPageDondeEstamos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:120px;
    flex-direction: column;
    flex-wrap: nopwrap;
    
}
.title{
    font-size: 2rem;
    font-weight: 600;
    color: var(--darkgray-color);
    margin: 0;
    padding: 0;
}

.containerMap{
display: block;

}
