.containerPageBienvenido{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    padding:20px;
    
    
}
.textContainer{ 
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    line-height: 1.8;
}

/* next class will be at the right side using the 50% of the container */

.clinicaImgContainer{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img.logoImg{
        align-self: center;
        border-radius: 20px;
        width:500px;
        height:700px;
        object-position: 38% 100%;
        object-fit: cover;
    }
}
/*write a media querio for less than medium size viewport our class containerPageBienvenido will be wrap*/
@media (max-width: 768px){
    .containerPageBienvenido{
        flex-wrap: wrap;
    }
    .textContainer{
        width: 100%;
    }
    .clinicaImgContainer{
        width: 100%;
    }
}