.containerPageBienvenido {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:var(--white-color);
    padding: 20px;
    height: auto;
}

.textContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding: 20px;
    line-height: 1.8;

}

/* next class will be at the right side using the 50% of the container */

.clinicaImgContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    img.logoImg {
        align-self: center;
        border-radius: 20px;
        width: 35vw;
        height: 600px;
        object-position: 38% 100%;
        object-fit: cover;
    }
}

@media(max-width: 768px) {
    .containerPageBienvenido {
        flex-direction: column;
        padding: 0;
    }

    .textContainer {
        width: 85vw;
        padding:0;
    }

    .clinicaImgContainer {
        width: 100vw;
        img.logoImg {
            width: 100vw;
            height: 300px;
            border-radius: 0px;
        }
    }
}