.primary {
    --primary-color: var(--blue-color);
    --secondary-color: var(--white-color);
    --tertiary-color: var(--dark-color);
    --title: var(--white-color);
}

.secondary {

    --primary-color: var(--white-color);
    --secondary-color: var(--dark-color);
    --tertiary-color: var(--blue-color);
    --title: var(--darkgray-color);
}
.tertiary {
    --primary-color: var(--red-color);
    --secondary-color: var(--white-color);
    --tertiary-color: var(--dark-color);
    --title: var(--white-color);
}
.quaternary{
    --primary-color: var(--orange-color);
    --secondary-color: var(--dark-color);
    --tertiary-color: var(--white-color);
    --title: var(--darkgray-color);
}

.ribbonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    padding-inline: 50px;
    flex-wrap: wrap;
    padding: 0;
    background-color: var(--primary-color);
    width: 100vw;
}

.firstContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 60%;
    height: 100%;
    margin-top: 20px;
    padding-inline: 50px;
    background-color: var(--primary-color);
}

.secondContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 30%;
    height: 100%;
    background-color: var(--primary-color);
    margin-top: 50px;
    margin-bottom: 50px;

}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--title);
    margin: 0;
    padding: 10px;
}

.children {
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary-color);
    margin: 0;
    padding: 20px;
    margin-bottom: 20px;
}

.button {
    position: relative;
    bottom: 0px;
    right: 10px;
    padding: 10px 20px;
    background-color: var(--tertiary-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 20px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    aspect-ratio: 3/4;
    background-color: var(--primary-color);
    overflow: hidden;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 13px;

    .image {
        display: block;
        position: relative !important;
    }
}



@media (max-width: 768px) {
    .ribbonContainer {
        padding: 0;
    }

    .firstContainer {
        flex: 100%;
        padding: 20px;
        padding-bottom: 0px;
        text-align: center;
    }

    .secondContainer {
        flex: 100%;

    }

    .imageContainer {
        width: 70%;
    }
}