.default{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color:transparent;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    
}
html.html{
    /* --blue-color: #007bff; */
    --blue-color: #2b7db5;
    --bluedark-color: #113766;
    --white-color: #fff;
    --dark-color:#333;
    --red-color:#b52b39;
    --orange-color:#b5a72b;
    --darkgray-color:#4A5064;
    
}

.image{
    z-index: -5;
    opacity: 0.7;
    filter: blur(1px);
    -webkit-user-drag: none;
    user-select: none;
    }