.default{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    
}
html.html{
    --blue-color: #007bff;
    --white-color: #f5f5f5;
    --dark-color:#333;
    --purple-color:#904c99;
    --orange-color:#ffa200;
}