.header {
    height: 50px;
    display: flex;
}
.headerContainer{

    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: white; /* Optional: Add a background color to the header */
    z-index: 1000; /* Ensure the header is above other content */
}