.containerPageServicios{
    
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
}
.containerTitle{
    padding: 5cap 50px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:20px;
    
    .title{
        font-size: 2rem;
        font-weight: 600;
        color: var(--darkgray-color);
        margin: 0;
        padding: 0;
    }
    .description{
        width:80%;
    }
}
@media (max-width: 768px){
    .containerTitle{
        
        padding: 0px;
        padding-top:20px;
        gap:0px;
        .title{
            font-size: 1.3rem;
        }
    }
}